db.sqlite3
*ZoneIdentifier
# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.idea
env/
ENV/
env.bak/
venv.bak/
.python-version

# Ignore folder
sentence_transformers_models/
recommender_system_models/
